@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

$color1: #B9CBC3;
$color2: #a4d4be;
$color3: #96bb7c;

$colorMain: #b0dfc9;



$font1: 'Lora', serif;
$font2: 'Roboto', sans-serif;

$shadow1: 3px 3px 5px #c3f1dc, -1px -1px 5px #a3ceba;
$shadow2: 3px 3px 5px #c8f1df, -1px -1px 5px #7fa091;
$shadow3: inset 2px 2px 3px #94b3a2;
$shadow4: inset 3px 3px 3px #89a093;


$border1: 30px;